@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}
body::-webkit-scrollbar {
  width: 0.35rem;
}
body::-webkit-scrollbar-track {
  background: #eeebdd;
}
body::-webkit-scrollbar-thumb {
  background: #1e1e24;
  border-radius: 10px;
}
main {
  margin-left: 6rem;
}
main section header {
  background-color: #5b5b5b;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: static;
  width: auto;
  height: 5.5rem;
  padding: 10px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
main section header a {
  color: #eeebdd;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

header .right {
  display: grid;
  height: 70%;
  width: -1%;
  place-items: center;
}
.wrapper .button {
  display: inline-block;
  height: 35px;
  width: 35px;
  float: none;
  margin: 10px 2px;
  overflow: hidden;
  background: #eeebdd;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover {
  width: 200px;
}
.wrapper .button .icon {
  display: inline-block;
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 35px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon {
  background: #0077b5;
}
.wrapper .button:nth-child(2):hover .icon {
  background: #4267b2;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #e1306c;
}
.wrapper .button:nth-child(4):hover .icon {
  background: #ff0000;
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 35px;

  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
  color: #0077b5;
}
.wrapper .button:nth-child(2) span {
  color: #4267b2;
}
.wrapper .button:nth-child(3) span {
  color: #e1306c;
}
.wrapper .button:nth-child(4) span {
  color: #ff0000;
}

.navbar {
  width: 6rem;
  height: 100vh;
  position: fixed;
  background-color: #5b5b5b;
  overflow: hidden;
  transition: 0.3s;
}
.navbar:hover {
  width: 38rem;
}
.navbar-menu {
  position: absolute;
  top: 10px;
  width: 100%;
}
.nav-items {
  position: relative;
  width: 100%;
  list-style: none;
  font-size: 1.1rem;
}
.nav-items a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #eeebdd;
}
.nav-items a .icon {
  align-items: center;
  position: relative;
  display: flex;
  align-items: center;
  height: 3.5rem;
  min-width: 50px;
  line-height: 60px;
  text-align: center;
}

/*
.nav-items:last-child {
  margin-top: auto;
}
.nav-items:last-child .icon {
  height: 1rem;
}
*/

/*
.nav-link {
  display: flex;
  align-items: center;
  height: 3.125rem;
  color: #eeebdd;
  text-decoration: none;
}
*/
.link-text {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
}

.navbar:hover .link-text {
  display: block;
}
.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
  color: #eeebdd;
  background: #e40017;
  border-radius: 5px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  width: 100%;
}
.logo .link-text {
  display: none;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}
.logo .icon i {
  transform: rotate(0deg);
  transition: 0.8s ease-out;
}
.navbar:hover .logo .icon i {
  transform: rotate(-540deg);
}
.navbar .navbar-menu .nav-items:hover {
  background-color: #eeebdd;
  border-radius: 5px;
}
.navbar .navbar-menu .nav-items .nav-link:hover {
  color: #e40017;
}
.navbar .social-media {
  width: 100%;
  list-style: none;
}

.navbar .social-media a {
  text-decoration: none;
  width: 100%;
  font-size: 1rem;
  color: white;
}
.news-ticker {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  background: #e40017;
}
.news-ticker h3 {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  background: #e40017;
  color: black;
  font-weight: 1000;
  font-size: 22x;
}
.news-ticker .news {
  height: 30px;
  overflow: hidden;
  color: #eeebdd;
  font-size: 15px;
}
.news div span {
  padding: 0 15px;
  height: 75px;
  margin-bottom: 10px;
  display: block;
}
.news div:first-child {
  animation: slide 9s linear infinite;
}
@keyframes slide {
  0% {
    margin-top: -240px;
  }
  5% {
    margin-top: -160px;
  }
  35% {
    margin-top: -160px;
  }
  40% {
    margin-top: -80px;
  }
  65% {
    margin-top: -80px;
  }
  70% {
    margin-top: 0;
  }
  99.99% {
    margin-top: 0;
  }
  100% {
    margin-top: -240px;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-auto-rows: minmax(500px, auto);
  grid-gap: 5px;
  padding: 5px;
  margin: 2px;
  color: black;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.grid-item-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3.5;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}
.timeline-container {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline {
  width: 950px;
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.timeline ul {
  list-style: none;
}
.timeline ul li {
  color: white;
  padding: 10px;
  margin-right: 30px;
  width: 100%;
  background-color: #5b5b5b;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.timeline-content img {
  max-width: 100%;
}
.timeline-content hr {
  color: 2px solid black;
}

@media only screen and (min-width: 950px) {
  .timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 51%;
    transform: translateX(-50%);
    background-color: black;
  }
  .timeline ul li {
    width: 42%;
    margin-bottom: 20px;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
  }
  .timeline ul li:nth-child(even) {
    float: right;
  }
}
.grid-item-2 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.aseem-container {
  margin: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 0px;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eeebdd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.aseem-content {
  margin: 0;
  padding: 10px;
  background: #5b5b5b;
  border-radius: 10px;
  color: white;
  width: 98%;
}
img {
  max-width: 100%;
}
.grid-item-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding: 5px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.trending-container {
  box-sizing: border-box;
  min-height: 100vh;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trending-container ul {
  list-style: none;
}
.trending-container li {
  margin-bottom: 15px;
  position: relative;
  padding: 5px;
  background: #d4d7dd;
  border-radius: 10px;
  color: black;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 250px) {
  .trending-container li::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    left: -4%;
    background-color: black;
  }
  .trending-container ul li::after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #e40017;
    border-radius: 50%;
    top: 0;
    transform: translate(50%, -50%);
    left: -25px;
    margin-bottom: 1px;
  }
}
.grid-item-4 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.eoi-container {
  width: 751px;
  height: 805px;
  cursor: pointer;
  color: white;
  margin: 10px auto;
  display: flex;
}
.col {
  height: 100%;
  flex: 1;
  color: #fff;
  box-sizing: border-box;
  padding: 5px;
  transition: 0.6s;
  border-radius: 10px;
  position: relative;
}
.col:nth-child(1) {
  background: #5b5b5b;
}
.col:nth-child(2) {
  background: #e40017;
}
.col:nth-child(3) {
  background: #5b5b5b;
}
.col h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.col img {
  max-width: 251px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px;
}
.col:hover {
  flex-grow: 2.5;
}
.col:hover .caption {
  display: block;
}
.caption {
  max-width: 300px;
  font-size: 16px;
  margin: 20px 0;
  display: none;
}
.caption button {
  border: 2px solid #fff;
  background: transparent;
  outline: none;
  padding: 5px 15px;
  color: white;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 15px;
}
.grid-item-5 {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.slider {
  height: auto;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0px;
  object-fit: cover;
}
.slider img {
  max-width: 120%;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -8%);
  animation: zoom-out 3s linear infinite;
}
@keyframes zoom-out {
  100% {
    width: 100%;
  }
}
.slider .text-box {
  position: absolute;
  top: 45px;
  left: 25px;
  width: 500px;
  color: black;
  border-radius: 10px;
  padding: 5px;
  animation: textup 12s linear infinite;
  transform: translateY(100px);
}
@keyframes textup {
  10% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
.slider .text-box2 {
  animation-delay: 0s;
}
.slider .text-box3 {
  animation-delay: 3s;
}
.slider .text-box4 {
  animation-delay: 6s;
}
.slider .text-box5 {
  animation-delay: 9s;
}
.text-box h1 {
  margin-bottom: 30px;
}
.text-box p {
  line-height: 18px;
  margin-top: 40px;
}
.text-box span {
  background: #e40017;
  height: 2px;
  width: 100px;
  position: absolute;
  left: 7px;
  bottom: 108px;
}
.slider .banner2 {
  animation: slide2 12s linear infinite;
}
.slider .banner3 {
  animation: slide3 12s linear infinite;
}
.slider .banner4 {
  animation: slide4 12s linear infinite;
}
.slider .banner5 {
  animation: slide5 12s linear infinite;
}
@keyframes slide1 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes slide2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes slide3 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes slide4 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes slide5 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.grid-item-6 {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.grid-item-7 {
  grid-column: 1 / 3;
  grid-row: 5 / 6;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.grid-item-8 {
  grid-column: 3 / 4;
  grid-row: 5 / 6;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
